G360_DB_HOST=
G360_DB_PORT=5432
G360_DB_NAME=
G360_DB_USER=
G360_DB_PASSWORD=
G360_DB_SSLMODE=require
# Dejar en true salvo que el host use un certificado autofirmado conocido y confiable.
G360_DB_SSL_REJECT_UNAUTHORIZED=true
